.display_hourly_data > div,
.display_hourly_data > details {
    padding: 10px;

    font-family: sans-serif;
}

.display_hourly_data > div {
    border-bottom: 1px solid rgb(220, 220, 220);
}

.display_hourly_data > details {
    display: block;
    cursor: pointer;
}
 
.display_hourly_data > details > summary {
    height: 50px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
    gap: 10px;
}

.display_hourly_data > details > summary::marker,
.display_hourly_data > details > summary::-webkit-details-marker {
    display: none;
}

.display_hourly_data > details > summary > * {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
}

.display_hourly_data > details > summary > .static {
    aspect-ratio: 1 / 1;
    height: 50px;
    width: auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Styles of Individual Summary Elements */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */

.display_hourly_data > details > summary > .time > p {
    color: rgb(99, 99, 99);
    font-size: 16px;
}

.display_hourly_data > details > summary > .temperature > p {
    padding-bottom: 2px;
    color: black;
    font-size: 24px;
    font-weight: 1000;
}

.display_hourly_data > details > summary > .temperature-icon {
    background-image: url("../../images/clear-night.svg");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
}

.display_hourly_data > details > summary > .temperature-description {
    flex: 4;

    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(75, 75, 75);
}

.display_hourly_data > details > summary > .temperature-description > p {
    font-size: 16px;
}

.display_hourly_data > details > summary > .rain-icon {
    background-image: url("../../images/water.png");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
}

.display_hourly_data > details > summary > .rain-percentage {
    font-size: 16px;
}

.display_hourly_data > details > summary > .wind-icon {
    background-image: url("../../images/wind-speed.png");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
}

.display_hourly_data > details > summary > .wind-speed {
    flex: 1;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.display_hourly_data > details > summary > .details-arrow {
    background-image: url("../../images/down-arrow.png");
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: center;
}

/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* END Styles of Individual Summary Elements */


/* Styles of Individual Details-Grid Elements */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */

.display_hourly_data > details > .details-grid {
    margin: 5px;
    margin-top: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.3);
}

.display_hourly_data > details > .details-grid ul {
    padding: 10px;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 5px;
}

.display_hourly_data > details > .details-grid li {
    display: grid;
    grid-template-areas: "a b" "a c";
    grid-template-columns: 50px auto;
    grid-template-rows: 1fr 2fr;
    gap: 5px;
    border-bottom: 1px solid rgb(220, 220, 220);
}

.display_hourly_data > details > .details-grid li:nth-child(7),
.display_hourly_data > details > .details-grid li:nth-child(8),
.display_hourly_data > details > .details-grid li:nth-child(9) {
    border-bottom: 1px solid transparent;
}

.display_hourly_data > details > .details-grid li > .info-icon {
    aspect-ratio: 1 / 1;
    grid-area: a;
}

.display_hourly_data > details > .details-grid li > div:nth-child(2) {
    grid-area: b;
    font-size: 16px;
}

.display_hourly_data > details > .details-grid li > div:nth-child(3) {
    grid-area: c;
    font-size: 16px;
    font-weight: bold;
}

/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* END Styles of Individual Details-Grid Elements */

.display_hourly_data > .title-card {
    padding-bottom: 20px;
}

