.section3 {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;

    padding: 25px;

    height: 100%;
    width: auto;

    background-color: white;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .section3 {
        margin-left: 10px;
        margin-right: 10px;
    }
}