footer {
    height: 50px;
    background-color: black;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer > .website-footer h2 {
    color: white;
}