body {
    display: flex;
    flex-direction: column;
}

footer {
    height: 50px;
    background-color: black;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-top: auto;
}

footer > .website-footer h2 > a {
    color: lightblue;
    text-decoration: underline;
}

footer > .website-footer h2 > a:visited {
    color: gold;
}

footer ::selection {
    color: pink;
    background-color: blue;
}
