header {
    width: 100%;
    height: 50px;

    background-color: black;

    position: sticky;
    top: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header * {
    color: white;
    font-weight: bold;
}

header ::selection {
    color: gold;
    background-color: blue;
}

header > .website-title h2 {
    cursor: pointer;
    font-weight: 1000;
    font-family: 'Times New Roman', Times, serif;
}

header ul {
    height: 50px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
}

header button {
    background-color: black;
    padding: 10px;

    height: 50px;
    width: auto;

    font-size: 12px;
    border: 0px;
}

header button:hover {
    cursor: pointer;
    background-color: rgb(51, 51, 51);
    transition: 0.2s;
}

header button:active {
    background-color: rgb(82, 82, 82);
    color: gold;
    transition: 0s;
}