* {
    padding: 0;
    margin: 0;
    /* border: 1px solid red; */

    box-sizing: border-box;
}

body {
    background-color: lightblue;
}

@import url(ui/styles/header/styles.css);
@import url(ui/styles/main/imports.css);
@import url(ui/styles/footer/styles.css);